<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="navlinks">
        <a href="/">Index</a>-<a href="/login">Login</a>-
        <a href="/register">Register>-<a href="/deposit">Deposit Form</a>-
            <a href="/withdrawal">Withdrawal Form</a>-
            <a href="/transaction">Transaction History Page</a>-
            <a href="/balance">Balance</a></a>
    </div>
</body>
</html>