<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="headstuff">
    <meta charset="utf-8" />

    <title>SomeReal Bank</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet" />
</head>
<body>
<nav role="navigation" id="main-nav" class="cf container">
    <div id="login" class="top-level-list-item login">
        <a href="#" class="top-level-link">Login</a>
        <div class="dropdown-menu">
            <span class="arrow"></span>
        </div>
    </div>
    <ul class="global-nav">
        <li class="top-level-list-item about-us">
            <a href="#" class="top-level-link">About Us</a>
            <div class="dropdown-menu light">
                <span class="arrow"></span>
                <p>This is some information about this thing.</p>
            </div>
        </li>
        <li class="top-level-list-item contact-us">
            <a href="#" class="top-level-link">Contact Us</a>
        <li class="top-level-list-item ss-write">
            <a href="registration.html" class="top-level-link">Register</a>
        </li>
        <li class="top-level-list-item ss-write">
            <a href="balancepage.html" class="top-level-link">Check Balance</a>
        </li>
    </ul>
    <ul class="primary-nav">
        <li class="top-level-list-item personal">
            <a href="depositform.html" class="top-level-link">Make a Deposit</a>
        <li class="top-level-list-item business">
            <a href="withdrawalform.html" class="top-level-link">Make a Withdrawal</a>
        <li class="top-level-list-item real-estate">
            <a href="transactionpage.html" class="top-level-link">Transaction History</a>
        <li class="top-level-list-item real-estate">

        <li class="break"></li>
    </ul>
</nav>
<div class="wrap" id="wrap">
    <header class="cf">
        <a href="#menu" class="menu-button"><img src="https://s.cdpn.io/35376/nav-icon.svg" /></a>
        <h1 class= "SoReal Bank">SoReal Bank</h1>

        <a href="#login" class="login-button">
            <img src="https://s.cdpn.io/35376/avatar-icon_1.svg"/></a>
    </header>
    <section class="container" style="img-align: left">
        <img src="https://images.unsplash.com/photo-1500316124030-4cffa46f10f0?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt= "Blue Dollars" width="250" height="150"/>
        <img src="https://images.unsplash.com/photo-1459257831348-f0cdd359235f?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt= "Piggy Bank" width="250" height="150"/>
        <img src="https://images.unsplash.com/photo-1443110189928-4448af4a2bc5?auto=format&fit=crop&w=897&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt= "Blue Dollars2" width="250" height="150"/>
        <img src="https://images.unsplash.com/photo-1494707924465-e1426acb48cb?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt= "Teamwork" width="250" height="150"/>

</div>
</body>
<script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/awesome-landing-page.js" type="text/javascript"></script>
</html>