<!DOCTYPE>
<html xmlns:th="www.thymeleaf.org">

    <meta charset="UTF-8" />
    <title>Login Form</title>

</head>
<body>

    <div class="login">
        <h1>Login Page</h1>

    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="has-error"></div>
        Invalid username and password
    <div th:if="${param.logout}"></div>
    You have been logged out.
        <div><label> User Name:<input type="text" name="username" placeholder="Username" required="required" />
        </label></div>
        <div><label> Password:<input type="password" name="password" placeholder="Password" required="required" />
        </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    </div>
    <!--End of Login-->
        <script  src="js/index.js"/>
</body>
</html>